<div class="grid h-screen">
  <!-- Primera columna: Instrucciones -->
  <div class="col-12 md:col-3 p-2">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Segunda columna: Chat y Entrada de Datos -->
  <div class="col-12 md:col-6 p-4 flex flex-column">
    <app-chat></app-chat>
  </div>

  <!-- Tercera columna: Subida de archivos y selección de experto -->
  <div class="col-12 md:col-3 p-2">
    <app-file-upload></app-file-upload>
    <app-expert-selector></app-expert-selector>
  </div>
</div>



